.j-widget {
	line-height: 20px; font-size: 10pt;
}
.j-loading {
	width: 350px; border-right-color: rgb(204, 204, 204); border-bottom-color: rgb(204, 204, 204); border-right-width: 4px; border-bottom-width: 2px; border-right-style: solid; border-bottom-style: solid; position: absolute;
}
.j-loading-cont {
	background: rgb(255, 255, 255); border: 2px solid rgb(119, 119, 119); border-image: none; width: 348px;
}
.j-loading-body {
	margin: 20px 30px; text-align: center;
}
.j-fl {
	float: none;
}
.j-cb {
	clear: both; margin-top: 10px;
}
.ax_overlay {
	margin: 0px; padding: 0px; left: 0px; top: 0px; position: absolute; background-color: rgb(0, 0, 0);
}
