#container {
	width: 100%; min-width: 1380px;
}
#header_beta {
	background: rgb(255, 255, 255); margin: 0px auto; border-bottom-color: rgb(226, 226, 226); border-bottom-width: 1px; border-bottom-style: solid; z-index: 60;
}
#header_beta .inner {
	margin: 0px auto; width: 1200px; height: 59px; position: relative;
}
#header_beta .header_top {
	background: rgb(255, 255, 255); height: 39px; border-bottom-color: rgb(226, 226, 226); border-bottom-width: 1px; border-bottom-style: solid;
}
#header_beta h1.logo {
	left: 2px; top: 19px; position: absolute;
}
#header_beta .utility {
	top: 12px; right: 0px; position: absolute;
}
#header_beta .utility::after {
	clear: both; display: block; content: "";
}
#header_beta .utility li {
	color: rgb(136, 136, 136); line-height: 14px; letter-spacing: -1px; font-size: 13px; float: left;
}
#header_beta .utility .bar {
	background: none; padding: 0px 7px; color: rgb(217, 217, 217);
}
#header_beta .utility img {
	vertical-align: middle;
}
#header_beta .login_link {
	top: 26px; right: 0px; position: absolute;
}
#header_beta .login_link::after {
	clear: both; display: block; content: "";
}
#header_beta .login_link li {
	background: url("../../images/exam/icon/set_header.gif") no-repeat 0px -63px; color: rgb(51, 51, 51); line-height: 15px; letter-spacing: -1px; font-size: 12px; margin-left: 10px; float: left;
}
#header_beta .login_link li.ico_name {
	background-position-y: -84px;
}
#header_beta .login_link li.ico_name strong {
	color: rgb(51, 51, 51);
}
#header_beta .login_link li.ico_login {
	background-position-y: 1px;
}
#header_beta .login_link li.ico_logout {
	background-position-y: -20px;
}
#header_beta .login_link li.ico_modify {
	background-position-y: -42px;
}
#header_beta .login_link li.ico_cart {
	background-position-y: -63px;
}
#header_beta .login_link li.ico_mypage {
	background-position-y: -104px;
}
#header_beta .login_link li a {
	padding: 0px 0px 1px 17px;
}
#header_beta .login_link li span {
	color: rgb(136, 136, 136);
}
#header {
	background: rgb(255, 255, 255); margin: 0px auto; border-bottom-color: rgb(226, 226, 226); border-bottom-width: 1px; border-bottom-style: solid; z-index: 60;
}
#header .inner {
	margin: 0px auto; width: 1200px; height: 110px; position: relative;
}
#header .header_top {
	background: rgb(255, 255, 255); height: 35px; border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: solid;
}
#header .header_top .inner {
	height: 100%;
}
#header h1.logo {
	left: 2px; top: 33px; position: absolute;
}
#header .search_guide {
	background: url("../../images/exam/layout/search_guide.gif") no-repeat 0px 0px; top: 29px; width: 211px; height: 36px; right: 2px; text-indent: -1000em; position: absolute;
}
#header .utility {
	left: 0px; top: 9px; position: absolute;
}
#header .utility::after {
	clear: both; display: block; content: "";
}
#header .utility li {
	color: rgb(136, 136, 136); line-height: 14px; letter-spacing: -1px; font-size: 12px; float: left;
}
#header .utility .bar {
	padding: 0px 7px; color: rgb(217, 217, 217); font-size: 11px;
}
#header .utility img {
	vertical-align: middle;
}
#header .login_link {
	top: 9px; right: 0px; position: absolute;
}
#header .login_link::after {
	clear: both; display: block; content: "";
}
#header .login_link li {
	background: url("../../images/exam/icon/set_header.gif") no-repeat 0px -63px; color: rgb(51, 51, 51); line-height: 15px; letter-spacing: -1px; font-size: 12px; margin-left: 10px; float: left;
}
#header .login_link li.ico_name {
	background-position-y: -84px;
}
#header .login_link li.ico_login {
	background-position-y: 1px;
}
#header .login_link li.ico_logout {
	background-position-y: -20px;
}
#header .login_link li.ico_modify {
	background-position-y: -42px;
}
#header .login_link li.ico_cart {
	background-position-y: -63px;
}
#header .login_link li.ico_mypage {
	background-position-y: -104px;
}
#header .login_link li a {
	padding: 0px 0px 1px 18px;
}
#header .login_link li span {
	color: rgb(136, 136, 136);
}
#header .search_box {
	left: 50%; top: 22px; margin-left: -263px; position: absolute;
}
#header .search_box .search_input {
	border-width: 1px medium 1px 1px; border-style: solid none solid solid; border-color: rgb(51, 53, 59) currentColor rgb(51, 53, 59) rgb(51, 53, 59); padding: 0px 0px 0px 10px; border-image: none; width: 384px; height: 41px; color: rgb(202, 202, 202); font-size: 15px; font-weight: bold; float: left;
}
#header .search_box .search_input:focus {
	color: rgb(34, 34, 34);
}
#header .search_box button {
	background: url("../../images/exam/layout/btn_item_search.gif") no-repeat 0px 0px rgb(51, 53, 59); border: 0px currentColor; border-image: none; width: 105px; height: 43px; color: rgb(255, 255, 255); text-indent: -1000em; padding-right: 20px; font-size: 15px; font-weight: bold; vertical-align: top; float: left;
}
#header .search_box dl {
	margin: 6px 0px 0px 2px;
}
#header .search_box dt {
	background: url("../../images/exam/icon/ic_search.gif") no-repeat 0px 3px; color: rgb(102, 102, 102); padding-left: 17px; font-size: 13px; display: inline-block; -ms-zoom: 1;
}
#header .search_box dt .bar {
	padding: 0px 7px; color: rgb(204, 204, 204); font-size: 12px;
}
#header .search_box dd {
	display: inline-block; -ms-zoom: 1;
}
#header .search_box dd a {
	color: rgb(68, 68, 68); font-size: 13px; margin-right: 13px; display: inline-block; -ms-zoom: 1;
}
#topmenu {
	background: rgb(225, 225, 225); width: 100%; height: 45px; letter-spacing: -0.5px; border-bottom-color: rgb(21, 23, 25); border-bottom-width: 2px; border-bottom-style: solid; position: relative; z-index: 1000;
}
.fixed#topmenu {
	left: 0px; top: 0px; position: fixed;
}
#topmenu .in {
	margin: 0px auto; width: 1200px; height: 100%; position: relative;
}
#topmenu .menu {
	left: 316px; top: 0px; height: 100%; position: absolute;
}
#topmenu .menu li {
	height: 100%; float: left; position: relative;
}
#topmenu .menu li .bar {
	background: url("../../images/exam/bg/bg_topmenu_bar.gif") no-repeat 0px; width: 1px; height: 100%; text-indent: -1000em; vertical-align: middle; display: inline-block;
}
#topmenu .menu li a {
	padding: 0px 21px; height: 100%; color: rgb(34, 34, 34); line-height: 43px; letter-spacing: -0.8px; font-size: 16px; font-weight: bold; vertical-align: middle; display: inline-block;
}
#topmenu .menu li p {
	padding: 0px 21px; height: 100%; color: rgb(34, 34, 34); line-height: 43px; letter-spacing: -0.8px; font-size: 16px; font-weight: bold; vertical-align: middle; display: inline-block;
}
#topmenu .menu li .ic_open {
	background: url("../../images/exam/icon/ic_open.png") no-repeat 0px 0px; left: 50%; top: 13px; width: 88px; height: 20px; text-align: center; color: rgb(255, 255, 255); line-height: 20px; font-size: 12px; margin-left: 70px; position: absolute;
}
#topmenu .menu li.on a {
	background: url("../../images/exam/bg/bg_topmenu_on.png") no-repeat bottom; color: rgb(35, 64, 158);
}
#topmenu .menu li a:hover {
	background: url("../../images/exam/bg/bg_topmenu_on.png") no-repeat bottom; color: rgb(35, 64, 158);
}
#topmenu .totalmenu {
	left: 0px; top: 0px; height: 100%; position: absolute;
}
#topmenu .totalmenu a {
	background: url("../../images/exam/bg/bg_totalmenu.png") no-repeat 3px 17px; height: 100%; color: rgb(51, 51, 51); line-height: 43px; padding-left: 21px; font-size: 15px; font-weight: bold; display: block;
}
#topmenu .rmenu {
	top: 0px; height: 46px; right: 0px; position: absolute; z-index: 1001;
}
#topmenu .rmenu a {
	background: url("../../images/exam/icon/ic_arr_down.png") no-repeat 90% 20px; padding: 0px 28px 0px 12px; height: 100%; color: rgb(24, 38, 76); line-height: 44px; font-size: 14px; font-weight: bold; display: inline-block;
}
#topmenu .rmenu a.on {
	background-position: 91% 19px; border-width: 1px 1px 0px; border-style: solid solid none; border-color: rgb(21, 23, 25) rgb(21, 23, 25) currentColor; padding: 0px 27px 0px 11px; border-image: none; line-height: 42px; background-color: rgb(255, 255, 255);
}
#topmenu .rmenu .new {
	background: url("../../images/exam/icon/ic_new_big.png") no-repeat 0px 13px; width: 17px; height: 100%; text-indent: -1000em; margin-left: 2px; vertical-align: middle; display: inline-block;
}
#topmenu .pop_layer_similar {
	background: url("../../images/exam/layout/bg_pop_layer_similar.png") repeat-x left bottom; left: 0px; top: 46px; text-align: center; padding-bottom: 3px; position: absolute; z-index: 1000;
}
#topmenu .pop_layer_similar .inner {
	background: rgb(255, 255, 255); border: 1px solid rgb(21, 23, 25); border-image: none; width: 1198px; height: 351px;
}
#topmenu .pop_layer_similar .btn_close {
	background: url("../../images/exam/layout/btn_close.gif") no-repeat 0px 0px; width: 28px; height: 29px; right: 1px; bottom: 4px; text-indent: -1000em; position: absolute;
}
#topmenu .pop_layer_similar .type01 {
	background: url("../../images/exam/layout/bg_similar.gif") no-repeat 0px 0px; margin: 13px auto 22px; width: 1100px; height: 316px; display: none;
}
#topmenu .pop_layer_similar .type01 .txt {
	padding: 75px 0px 60px; color: rgb(51, 51, 51); line-height: 33px; font-size: 24px;
}
#topmenu .pop_layer_similar .type02 {
	margin: 0px auto; width: 1070px; display: none;
}
#topmenu .pop_layer_similar .tbox {
	margin: 64px 0px 0px;
}
#topmenu .pop_layer_similar .tbox .inbox {
	padding: 10px 35px 15px; color: rgb(51, 51, 51); font-size: 20px; font-weight: bold; position: relative;
}
#topmenu .pop_layer_similar .tbox .inbox .date {
	top: 15px; right: 20px; color: rgb(102, 102, 102); font-size: 15px; font-weight: normal; position: absolute;
}
#topmenu .pop_layer_similar .type02 .txt {
	padding: 35px 0px 25px; color: rgb(102, 102, 102); line-height: 33px; font-size: 25px;
}
#topmenu .pop_layer_similar .type02 .txt .small {
	font-size: 16px;
}
#topmenu .pop_layer_similar .type03 {
	margin: 0px auto; width: 1070px;
}
#topmenu .pop_layer_similar .type03 .tbox {
	margin: 34px 0px 0px;
}
#topmenu .pop_layer_similar .type03 .item_list {
	margin: 27px 0px 0px -10px; -ms-zoom: 1;
}
#topmenu .pop_layer_similar .type03 .item_list li {
	background: rgb(219, 219, 219); margin: 0px 0px 0px 10px; padding-bottom: 3px; float: left;
}
#topmenu .pop_layer_similar .type03 .item_list li a {
	background: rgb(255, 255, 255); border: 1px solid rgb(170, 170, 170); border-image: none; width: 168px; height: 198px; text-align: center; display: block; position: relative;
}
#topmenu .pop_layer_similar .type03 .item_list li a img {
	width: 168px; height: 177px; margin-top: 15px;
}
#topmenu .pop_layer_similar .type03 .item_list li a .tag {
	background: url("../../images/exam/layout/bg_tag.png") no-repeat 0px 0px; padding: 18px 0px 0px; left: -2px; top: -2px; width: 53px; height: 54px; text-align: center; color: rgb(255, 255, 255); font-size: 12px; font-weight: bold; display: block; position: absolute;
}
#topmenu .pop_layer_similar .type03 .item_list li a .btn {
	background: url("../../images/exam/layout/btn_view.png") no-repeat 0px 0px; left: 50%; top: 72px; width: 53px; height: 53px; margin-left: -27px; display: block; position: absolute;
}
#section {
	background: url("../../images/exam/bg/bg02.gif") repeat-y 90px 0px; margin: 0px auto; padding: 0px 0px 0px 90px; width: 1200px; position: relative; min-width: 1290px;
}
#section::after {
	clear: both; display: block; content: "";
}
.memberjoin_area#section #lnb {
	width: 70px;
}
#login_area {
	margin: 100px auto 0px; width: 890px; position: relative; min-width: 890px;
}
#login_area #content {
	margin: 0px; width: 100%; min-height: 760px;
}
#login_area .cont {
	min-height: 560px;
}
#gnb {
	left: 0px; top: 45px; display: none; position: absolute; z-index: 1001;
}
#gnb a {
	display: block;
}
#gnb .inner {
	background: rgb(255, 255, 255); padding: 85px 0px 20px; border: 2px solid rgb(0, 0, 0); border-image: none; width: 653px; position: relative;
}
#gnb .tab {
	left: 0px; top: 0px; width: 100%; overflow: hidden; position: absolute;
}
#gnb .tab li {
	background: url("../../images/exam/bg/bg_gnb_line02.gif") 0px 0px; float: left;
}
#gnb .tab li a {
	background: url("../../images/exam/bg/bg_gnb_tab02.gif") no-repeat bottom; width: 217px; height: 80px; text-align: center; color: rgb(136, 136, 136); line-height: 70px; font-size: 16px; font-weight: bold; display: block;
}
#gnb .tab li.on a {
	background: url("../../images/exam/bg/bg_gnb_tab_on02.gif") no-repeat bottom rgb(255, 255, 255); color: rgb(33, 61, 153);
}
#gnb .tab li.line {
	background: rgb(218, 221, 228); width: 1px; height: 80px; line-height: 0; font-size: 0px;
}
#gnb .tab li.line .bg {
	background: url("../../images/exam/bg/bg_gnb_tab02.gif") no-repeat left bottom; width: 1px; height: 80px; display: block;
}
#gnb .total_menu {
	margin: 0px auto; width: 612px; overflow: hidden;
}
#gnb dl {
	float: left;
}
#gnb dt {
	background: url("../../images/exam/bg/bg_gnb_line.gif") repeat-x left bottom; padding: 20px 0px 12px; width: 153px; height: 20px; color: rgb(34, 34, 34); font-size: 15px; font-weight: bold;
}
#gnb dt a {
	color: rgb(68, 68, 68); padding-left: 5px;
}
#gnb dd {
	padding: 11px 0px 15px; width: 153px; min-height: 130px;
}
#totalMenu01 dd {
	min-height: 150px;
}
#totalMenu02 dd {
	min-height: 90px;
}
#gnb dd li {
	padding: 0px 0px 3px 6px;
}
#gnb dd li a {
	background: url("../../images/exam/icon/ic_dot.gif") no-repeat 0px 8px; padding: 0px 0px 0px 6px; color: rgb(102, 102, 102); font-size: 13px;
}
#gnb dd li.on a {
	color: rgb(0, 61, 153);
}
#gnb dd li a:hover {
	color: rgb(0, 61, 153);
}
#gnb .btn_close {
	background: url("../../images/exam/bg/bg_close2.gif") no-repeat 0px 0px; width: 29px; height: 29px; right: 0px; bottom: 0px; text-indent: -1000em; display: block; position: absolute;
}
#lnb {
	padding: 0px 0px 50px; left: 90px; top: 0px; width: 260px; position: absolute;
}
#lnb::after {
	clear: both; display: block; content: "";
}
#lnb a {
	display: block;
}
#lnb a:hover {
	text-decoration: none;
}
#lnb .grade_nav {
	background: rgb(21, 23, 25); width: 70px; float: left;
}
#lnb .grade_nav li {
	border-bottom-color: rgb(45, 47, 48); border-bottom-width: 1px; border-bottom-style: solid;
}
#lnb .grade_nav a {
	width: 70px; height: 70px; text-align: center; color: rgb(255, 255, 255); letter-spacing: -1px; font-size: 12px; border-bottom-color: rgb(0, 0, 0); border-bottom-width: 1px; border-bottom-style: solid; display: block;
}
#lnb .txt_gnb a {
	background: url("../../images/exam/icon/ic_lnb01.gif") no-repeat center 16px; height: 62px; color: rgb(145, 146, 146); line-height: 84px; font-size: 12px;
}
#lnb .txt_school a {
	background: url("../../images/exam/icon/ic_lnb02.gif") no-repeat center 47px; height: 71px; text-align: center; color: rgb(125, 125, 125); line-height: 60px; letter-spacing: -1px; font-size: 17px; display: block;
}
#lnb .txt_school span {
	background: url("../../images/exam/icon/ic_lnb02.gif") no-repeat center 47px; height: 71px; text-align: center; color: rgb(125, 125, 125); line-height: 60px; letter-spacing: -1px; font-size: 17px; display: block;
}
#lnb .txt_school.on a {
	background: url("../../images/exam/icon/ic_lnb02_on.gif") no-repeat center 47px; color: rgb(84, 123, 249); font-weight: bold;
}
#lnb .txt_school.on span {
	background: url("../../images/exam/icon/ic_lnb02_on.gif") no-repeat center 47px; color: rgb(84, 123, 249); font-weight: bold;
}
#lnb .txt_school a:hover {
	background: url("../../images/exam/icon/ic_lnb02_on.gif") no-repeat center 47px; color: rgb(84, 123, 249); font-weight: bold;
}
#lnb .txt_grade a {
	height: 71px; color: rgb(140, 155, 204); line-height: 67px; font-size: 16px;
}
#lnb .txt_grade.on a {
	background: url("../../images/exam/bg/bg_lnb_on.gif") no-repeat 0px 0px; height: 72px; color: rgb(255, 255, 255); border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;
}
#lnb .txt_grade a:hover {
	background: url("../../images/exam/bg/bg_lnb_on.gif") no-repeat 0px 0px; height: 72px; color: rgb(255, 255, 255); border-bottom-color: currentColor; border-bottom-width: 0px; border-bottom-style: none;
}
#lnb .txt_setting a {
	background: url("../../images/exam/icon/ic_lnb03.gif") no-repeat center 13px; height: 43px; color: rgb(155, 124, 91); padding-top: 28px; font-size: 12px;
}
#lnb .snb {
	width: 190px; float: left;
}
#lnb .snb .snb_top {
	background: url("../../images/exam/bg/bg_lnb_top_line.gif") no-repeat bottom; height: 88px; text-align: center; color: rgb(21, 23, 25); line-height: 52px; letter-spacing: -1px; padding-top: 63px; font-size: 38px; position: relative;
}
#lnb .snb .snb_top span {
	left: 0px; top: 30px; width: 100%; text-align: center; font-size: 18px; font-weight: bold; position: absolute;
}
#lnb .snb .snb_top span em {
	font-weight: normal;
}
#lnb .snb .depth01 {
	margin: 26px 0px 0px 15px; width: 160px;
}
#lnb .snb .depth01 li {
	margin-bottom: 15px;
}
#lnb .snb .depth01 li a {
	background: url("../../images/exam/icon/ic_lnb_arrow.gif") no-repeat 149px; padding: 0px 0px 0px 9px; color: rgb(51, 51, 51); line-height: 20px; font-size: 15px; font-weight: bold; display: block;
}
#lnb .snb .depth01 li.on > a {
	color: rgb(33, 61, 153); background-image: url("../../images/exam/icon/ic_lnb_arrow_on.gif");
}
#lnb .snb .depth01 li a:hover {
	color: rgb(33, 61, 153); background-image: url("../../images/exam/icon/ic_lnb_arrow_on.gif");
}
#lnb .snb .depth02 {
	margin: 8px 0px -2px 10px; width: 160px;
}
#lnb .snb .depth02 li {
	margin-bottom: 2px;
}
#lnb .snb .depth02 li a {
	background: url("../../images/exam/icon/ic_dot.gif") no-repeat 0px 10px; padding: 0px 0px 0px 6px; color: rgb(102, 102, 102); line-height: 20px; font-size: 13px; font-weight: bold; display: block;
}
#lnb .snb .depth02 li.on a {
	color: rgb(0, 0, 0); background-image: url("../../images/exam/icon/ic_dot.gif");
}
#lnb .snb .depth02 li a:hover {
	color: rgb(0, 0, 0); background-image: url("../../images/exam/icon/ic_dot.gif");
}
#content {
	margin: 0px 0px 0px 310px; width: 840px; padding-top: 50px; position: relative; min-height: 1080px;
}
.itembank_area#content {
	margin: 0px; padding-top: 0px;
}
h3 span {
	background: url("../../images/exam/layout/bg_h3.gif") no-repeat right 3px; color: rgb(51, 51, 51); line-height: 39px; padding-right: 11px; font-size: 33px; margin-top: -7px; display: inline-block;
}
h3 span em {
	font-size: 18px; font-weight: normal;
}
.h3_txt {
	color: rgb(136, 136, 136); letter-spacing: -1px; padding-top: 6px; font-size: 13px;
}
h4 {
	color: rgb(51, 51, 51); letter-spacing: -1px; font-size: 20px; font-weight: bold; margin-top: 30px; margin-bottom: 13px;
}
h4 span {
	font-size: 13px; font-weight: normal;
}
.dot_title {
	background: url("../../images/exam/icon/ic_dot_dark.gif") no-repeat 0px; color: rgb(51, 51, 51); padding-left: 10px; font-size: 15px;
}
#content .breadcrumb {
	right: 1px; line-height: 15px; margin-top: -56px; position: absolute;
}
#content .breadcrumb::after {
	clear: both; display: block; content: "";
}
#content .breadcrumb li {
	background: url("../../images/exam/icon/ic_arrow.gif") no-repeat 0px; color: rgb(68, 68, 68); padding-left: 11px; font-size: 11px; font-weight: bold; margin-left: 8px; float: left;
}
#content .breadcrumb li a {
	color: rgb(68, 68, 68); font-weight: normal; display: block;
}
#content .breadcrumb li a strong {
	color: rgb(68, 68, 68);
}
#content .breadcrumb li.home {
	background: none; width: 12px;
}
#content .breadcrumb li.home a {
	background: url("../../images/exam/icon/ic_home.gif") no-repeat 0px; width: 12px; height: 14px; letter-spacing: 0px;
}
.memberjoin_area#section #content {
	background: rgb(255, 255, 255); margin: 0px 0px 0px 190px; width: 890px;
}
#footer {
	background: url("../../images/exam/bg/bg02.gif") repeat-y 90px 0px; margin: 0px auto; padding: 35px 90px; width: 1200px; position: relative;
}
#footer::after {
	clear: both; display: block; content: "";
}
#footer .inner {
	background: url("../../images/exam/bg/bg_footer_line.gif") repeat-x 0px 46px; padding: 14px 0px 0px 30px; margin-left: 260px; border-top-color: rgb(226, 226, 226); border-top-width: 1px; border-top-style: solid; position: relative; min-height: 75px;
}
#footer .footer_link {
	height: 60px; overflow: hidden;
}
#footer .footer_link::after {
	clear: both; display: block; content: "";
}
#footer .footer_link li {
	color: rgb(102, 102, 102); letter-spacing: -1px; font-size: 12px; float: left;
}
#footer .footer_link li a {
	color: rgb(102, 102, 102);
}
#footer .footer_link .bar {
	padding: 0px 7px; color: rgb(204, 204, 204);
}
#footer .footer_logo {
	float: left;
}
#footer .copyright {
	color: rgb(153, 153, 153); line-height: 17px; font-family: "µ¸¿ò",dotum; font-size: 11px; margin-left: 15px; float: left;
}
#footer .copyright .bar {
	color: rgb(204, 204, 204);
}
.memberjoin_area#footer {
	background: url("../../images/exam/bg/bg03.gif") repeat-y 90px 0px; padding-top: 0px;
}
.memberjoin_area#footer .inner {
	width: 1099px; margin-left: 70px; background-color: rgb(255, 255, 255);
}
.login_area#footer {
	background: url("../../images/exam/bg/bg_footer_line.gif") repeat-x 0px 46px; padding: 0px 0px 35px; width: 100%; border-top-color: rgb(226, 226, 226); border-top-width: 1px; border-top-style: solid;
}
.login_area#footer .inner {
	background: none; margin: 0px auto; width: 1200px; border-top-color: currentColor; border-top-width: 0px; border-top-style: none;
}
.login_area#footer .inner .footer_link {
	margin: 0px auto; width: 100%;
}
#quickmenu {
	left: 1300px; top: 50px; position: absolute; z-index: 10;
}
#quickmenu dl {
	background: url("../../images/exam/layout/bg_quickmenu_yap.gif") no-repeat 0px 0px; width: 80px; height: 281px; overflow: hidden;
}
#quickmenu dl dd a {
	height: 48px; text-indent: -1000em; display: block;
}
#quickmenu dl dd a.n1 {
	height: 53px; margin-top: 38px;
}
#quickmenu dl dd a.n2 {
	height: 59px;
}
#quickmenu dl dd a.n3 {
	height: 50px; margin-top: 31px;
}
#quickmenu dl dd a.n4 {
	height: 50px;
}
#quickmenu .ico_top a {
	background: url("../../images/exam/layout/ico_top.gif") no-repeat 0px 0px; margin: 17px auto 0px; width: 35px; height: 35px; text-indent: -1000em; display: block;
}
.beta#quickmenu dl {
	background: url("../../images/exam/layout/bg_quickmenu_20160309.gif") no-repeat 0px 0px; width: 80px; height: 185px; overflow: hidden;
}
.beta#quickmenu dl dd a.n1 {
	display: none;
}
.beta#quickmenu dl dd a.n2 {
	display: none;
}
.beta#quickmenu dl dd a.n3 {
	margin-top: 33px;
}
.beta#quickmenu dl dd a.n4 {
	height: 50px;
}
#login_area #quickmenu {
	display: none;
}
.main #quickmenu {
	display: none;
}
.wrap_familysite {
	top: 6px; height: 35px; right: 22px; position: absolute;
}
.link_network {
	padding: 0px 10px; border: 1px solid rgb(187, 187, 187); border-image: none; top: 4px; width: 128px; right: 0px; font-weight: normal; position: absolute; background-color: rgb(255, 255, 255);
}
.link_network a {
	background: url("../../images/exam/layout/bg_network_arrow.gif") no-repeat right -36px; height: 24px; text-align: left; color: rgb(136, 136, 136); line-height: 23px; letter-spacing: -1px; padding-right: 0px; font-size: 12px; display: block;
}
.link_network a:hover {
	background-position: right 7px; text-decoration: none;
}
.cs_gate {
	right: 0px; bottom: 30px; display: none; position: absolute; z-index: 99999; background-color: rgb(255, 255, 255);
}
.cs_gate.on {
	display: block;
}
.cs_gate.on .gate_list {
	text-align: left; display: block;
}
.cs_gate .gate_list {
	background: rgb(255, 255, 255); padding: 6px 0px 5px; border: 1px solid rgb(187, 187, 187); border-image: none; width: 148px; display: none;
}
.cs_gate .gate_list li {
	line-height: 11px; font-size: 12px;
}
.cs_gate .gate_list li a {
	padding: 5px 10px 6px; color: rgb(102, 102, 102); display: block;
}
.cs_gate .gate_list li a:hover {
	background: rgb(229, 229, 229);
}
.cs_gate .gate_list dt {
	margin: 6px 0px; color: rgb(176, 19, 24); padding-left: 14px;
}
.banner_on #header .header_banner {
	display: block;
}
.banner_on #section {
	margin-top: 180px;
}
.banner_on #login_area {
	margin-top: 180px;
}
.banner_on #lnb {
	top: 180px;
}
.banner_on #quickmenu {
	top: 320px;
}
.resize#lnb {
	left: 0px; top: 0px; margin-left: 0px; position: absolute;
}
.resize#quickmenu {
	left: auto; top: 320px; right: 0px; margin-left: 0px; position: fixed;
}
#bottom_bn {
	left: 0px; height: 88px; text-align: center; right: 0px; bottom: 0px; position: fixed; z-index: 100;
}
#bottom_bn a {
	margin: 0px auto; display: block;
}
#bottom_bn .btn_close {
	left: 50%; top: 8px; margin-left: 570px; position: absolute;
}
.full_service {
	background: url("../../images/exam/layout/bg_full_service.gif") no-repeat; height: 95px; margin-bottom: 33px; position: relative;
}
.full_service .num {
	left: 32px; top: 29px; position: absolute;
}
.full_service .num em {
	color: rgb(35, 64, 158); font-size: 28px; font-weight: bold; vertical-align: middle; display: inline-block;
}
.full_service .num em.year {
	color: rgb(35, 64, 158); font-size: 20px; font-weight: bold; margin-top: 3px;
}
.full_service .num span {
	margin: 3px 0px 0px 1px; color: rgb(30, 51, 109); font-size: 15px; vertical-align: middle; display: inline-block;
}
.full_service .tit {
	background: url("../../images/exam/layout/tit_yap_full_service.png") no-repeat; left: 110px; top: 20px; width: 600px; height: 30px; text-indent: -1000em; position: absolute;
}
.full_service .tit.exam {
	background: url("../../images/exam/layout/tit_exam_full_service.png") no-repeat;
}
.full_service .tit.ebank {
	background: url("../../images/exam/layout/tit_ebank_full_service.png") no-repeat;
}
.full_service ul {
	left: 110px; top: 58px; overflow: hidden; position: absolute;
}
.full_service li {
	float: left;
}
.full_service li a {
	background: url("../../images/exam/icon/ic_arr.png") no-repeat right 4px; color: rgb(70, 59, 52); letter-spacing: -0.5px; padding-right: 16px; font-size: 14px; font-weight: bold; margin-right: 16px; display: block;
}
.full_service li a:hover {
	text-decoration: underline;
}
#main_intro {
	background: url("../../images/exam/main/bg_intro01_2.gif") no-repeat center 30px rgb(255, 255, 255); left: 50%; top: 50%; width: 580px; height: 380px; text-align: center; margin-top: -190px; margin-left: -290px; position: fixed; z-index: 1010;
}
#main_intro .tit {
	color: rgb(0, 0, 0); font-size: 33px; margin-top: 52px;
}
#main_intro .txt {
	color: rgb(102, 102, 102); letter-spacing: -1px; font-size: 14px; margin-top: 6px;
}
#main_intro ul {
	margin: 53px auto 0px; width: 366px;
}
#main_intro ul::after {
	clear: both; display: block; content: "";
}
#main_intro li {
	margin: 0px 5px; float: left;
}
#main_intro li a {
	background: url("../../images/exam/main/bg_intro02.gif") no-repeat 0px 0px; width: 111px; height: 110px; text-indent: -1000em; display: block;
}
#main_intro li.n1 a {
	background-position: 0px 0px;
}
#main_intro li.n2 a {
	background-position: -122px 0px;
}
#main_intro li.n3 a {
	background-position: -244px 0px;
}
#main_intro li a:hover {
	background-position-y: -110px;
}
#main_intro .checkbox {
	margin-top: 35px;
}
#main_intro .checkbox label {
	color: rgb(51, 51, 51);
}
