#header_beta {
	min-width: 1200px;
}
#header_beta .inner {
	width: 1200px;
}
#header {
	min-width: 1200px;
}
#header .inner {
	width: 1200px;
}
#header .login_link {
	right: 0px;
}
#topmenu {
	min-width: 1200px;
}
#topmenu .in {
	width: 1200px;
}
#topmenu .rmenu {
	right: 0px;
}
#main {
	margin: 40px auto 0px; width: 1200px; position: relative; min-width: 1200px;
}
#content {
	margin: 0px 0px 100px; width: 1200px; padding-top: 0px; min-height: 760px;
}
#footer {
	background: url("../../images/exam/bg/bg_footer_line.gif") repeat-x 0px 46px; padding: 0px 0px 35px; width: 100%; margin-top: 120px; border-top-color: rgb(226, 226, 226); border-top-width: 1px; border-top-style: solid; min-width: 1200px;
}
#footer .inner {
	background: none; margin: 0px auto; width: 1200px; padding-left: 0px; border-top-color: currentColor; border-top-width: 0px; border-top-style: none;
}
#footer .inner .footer_link {
	margin: 0px auto; width: 1200px;
}
.main_cont {
	overflow: hidden;
}
.main_slide_box {
	width: 850px; float: left; position: relative;
}
.main_slide {
	width: 850px; height: 180px; overflow: hidden; position: relative;
}
.main_slide .slidesjs-container {
	height: 180px !important;
}
.main_slide .slidesjs-pagination {
	right: 25px; bottom: 10px; position: absolute; z-index: 10;
}
.main_slide .slidesjs-pagination li {
	list-style: none; margin: 0px 1px; float: left;
}
.main_slide .slidesjs-pagination li a {
	background: url("../../images/exam/main/ic_paging3.png") no-repeat 0px 0px; width: 20px; height: 0px; overflow: hidden; padding-top: 10px; float: left; display: block;
}
.main_slide .slidesjs-pagination li a:hover {
	background: url("../../images/exam/main/ic_paging3_over.png") no-repeat 0px 0px;
}
.main_slide .slidesjs-pagination li .active {
	background: url("../../images/exam/main/ic_paging3_on.png") no-repeat 0px 0px; width: 11px;
}
.main_slide .slidesjs-pagination li a.active:hover {
	background: url("../../images/exam/main/ic_paging3_on.png") no-repeat 0px 0px; width: 11px;
}
a.slidesjs-play {
	width: 12px; height: 10px; right: 6px; bottom: 10px; text-indent: -9999px; overflow: hidden; margin-right: 5px; float: left; display: block; position: absolute; z-index: 10;
}
a.slidesjs-stop {
	width: 12px; height: 10px; right: 6px; bottom: 10px; text-indent: -9999px; overflow: hidden; margin-right: 5px; float: left; display: block; position: absolute; z-index: 10;
}
a.slidesjs-play {
	background: url("../../images/exam/main/ic_play.png") no-repeat center;
}
a.slidesjs-stop {
	background: url("../../images/exam/main/ic_stop.png") no-repeat center;
}
.main_login_box {
	padding: 24px 24px 0px; border: 1px solid rgb(221, 221, 221); border-image: none; width: 290px; height: 154px; float: right;
}
.main_login_box .main_login_input {
	position: relative;
}
.main_login_box input.text {
	padding: 4px 5px; border: 1px solid rgb(221, 221, 221); border-image: none; width: 198px; height: 25px; color: rgb(153, 153, 153); font-size: 13px; margin-bottom: 3px;
}
.main_login_box .btn_login {
	top: 1px; width: 72px; height: 71px; text-align: center; right: 0px; color: rgb(255, 255, 255); line-height: 71px; display: block; position: absolute; background-color: rgb(51, 51, 51);
}
.main_login_box .main_login_check {
	padding: 5px 0px 10px; color: rgb(102, 102, 102); font-size: 11px;
}
.main_login_box .main_login_check label {
	margin-right: 10px;
}
.main_login_box .main_login_btn {
	overflow: hidden; margin-left: -3px;
}
.main_login_box .main_login_btn .mbtn {
	margin: 0px 0px 0px 3px; width: 92px; padding-right: 0px; padding-left: 0px; float: left;
}
.main_login_box .main_login_btn .btn_join {
	background: rgb(173, 175, 181); border: 1px solid rgb(173, 175, 181); border-image: none; width: 94px; color: rgb(255, 255, 255);
}
.main_login_box .login_txt {
	height: 47px; position: relative;
}
.main_login_box .login_txt .mbtn {
	top: 0px; right: 0px; position: absolute;
}
.main_login_box .login_txt p {
	background: url("../../images/exam/main/ic_name.gif") no-repeat 0px 2px; left: 0px; top: 4px; color: rgb(136, 136, 136); line-height: 16px; letter-spacing: -1px; padding-left: 20px; font-size: 14px; font-weight: bold; position: absolute; min-height: 18px;
}
.main_login_box .login_txt p strong {
	color: rgb(51, 51, 51);
}
.main_login_box .btn_mypage {
	background: url("../../images/exam/main/btn_mypage.gif") no-repeat 0px 0px; width: 143px; height: 85px; color: rgb(34, 34, 34); text-indent: -1000em; font-size: 14px; float: left; display: block;
}
.main_login_box .btn_modify {
	background: url("../../images/exam/main/btn_modify.gif") no-repeat 0px 0px; width: 143px; height: 85px; color: rgb(34, 34, 34); text-indent: -1000em; font-size: 14px; float: right; display: block;
}
.mbox {
	background: url("../../images/exam/bg/bg_main_line_black.gif") repeat-x left bottom; margin: 40px 0px; height: 389px; text-align: center; clear: both;
}
.mbox h3 {
	padding: 20px 0px 25px;
}
.mbox h3 a {
	background: url("../../images/exam/main/btn_more.gif") no-repeat 100% 2px; color: rgb(0, 0, 0); line-height: 25px; letter-spacing: -0.5px; padding-right: 35px; font-size: 21px; font-weight: normal; display: inline-block; -ms-zoom: 1; min-height: 26px;
}
.mbox h4 {
	background: rgb(35, 64, 158); margin: 0px 0px 17px; height: 33px; color: rgb(255, 255, 255); line-height: 33px; font-size: 15px; font-weight: bold;
}
[class^='mbox_'] {
	background: rgb(238, 238, 238); border-width: 1px 1px 0px; border-style: solid solid none; border-color: rgb(238, 238, 238) rgb(238, 238, 238) currentColor; padding: 0px 26px; border-image: none; width: 368px; height: 387px; float: left; cursor: pointer;
}
[class^='mbox_']:hover {
	background: rgb(255, 255, 255); border: 1px solid rgb(35, 64, 158); border-image: none;
}
[class^='mbox_']:hover h4 {
	background: rgb(35, 64, 158);
}
.mbox_exam {
	margin-right: 6px;
}
.mbox_exam .main_schedule .next_exam {
	background: url("../../images/exam/main/bg_next_exam.png") no-repeat 0px 0px; width: 370px; height: 57px; color: rgb(102, 102, 102); font-size: 14px; margin-top: -4px; margin-bottom: 8px; position: relative;
}
.mbox_exam .main_schedule .next_exam dd {
	left: 103px; top: 15px; position: absolute;
}
.mbox_exam .main_schedule .next_exam dd span {
	padding-right: 5px;
}
.mbox_exam .main_schedule .next_exam dd em {
	color: rgb(25, 53, 145); font-size: 22px;
}
.mbox_exam .main_schedule table {
	width: 100%; font-size: 13px; border-left-color: rgb(217, 217, 217); border-left-width: 1px; border-left-style: solid;
}
.mbox_exam .main_schedule thead th {
	background: rgb(197, 200, 204); padding: 8px 0px; color: rgb(255, 255, 255); line-height: 17px; font-size: 13px; border-right-color: rgb(226, 228, 230); border-right-width: 1px; border-right-style: solid;
}
.mbox_exam .main_schedule thead th:last-child {
	border-right-color: rgb(217, 217, 217); border-right-width: 1px; border-right-style: solid;
}
.mbox_exam .main_schedule tbody th {
	color: rgb(51, 51, 51); font-size: 14px; font-weight: bold;
}
.mbox_exam .main_schedule td {
	background: rgb(255, 255, 255); padding: 9px 0px; color: rgb(102, 102, 102); line-height: 14px; font-size: 11px; border-right-color: rgb(217, 217, 217); border-bottom-color: rgb(217, 217, 217); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid;
}
.mbox_exam .main_schedule th {
	background: rgb(255, 255, 255); padding: 9px 0px; color: rgb(102, 102, 102); line-height: 14px; font-size: 11px; border-right-color: rgb(217, 217, 217); border-bottom-color: rgb(217, 217, 217); border-right-width: 1px; border-bottom-width: 1px; border-right-style: solid; border-bottom-style: solid;
}
.mbox_exam .main_schedule td em {
	font-size: 14px;
}
.mbox_exam .main_schedule td strong {
	color: rgb(0, 0, 0); font-weight: normal;
}
.mbox_exam .main_schedule td strong em {
	font-weight: bold;
}
.mbox_exam .main_schedule p.txt {
	text-align: left; color: rgb(68, 68, 68); padding-top: 3px; font-size: 11px;
}
.mbox_yap {
	margin-right: 10px;
}
.mbox_yap p.txt {
	text-align: left; color: rgb(102, 102, 102); padding-top: 3px; font-size: 12px;
}
.mbox_bank {
	background: url("../../images/exam/bg/bg_main_line03.gif") 0px 0px; border-width: 1px 1px 0px; border-style: solid solid none; border-color: rgb(255, 255, 255) rgb(255, 255, 255) currentColor; border-image: none; width: 286px; position: relative;
}
.mbox_bank:hover {
	background: url("../../images/exam/bg/bg_main_line03.gif") 0px 0px;
}
.mbox_bank .ing {
	top: -14px; right: 45px; position: absolute;
}
.main_bank_slide_box {
	background: rgb(255, 255, 255); border: 1px solid rgb(206, 208, 211); border-image: none; width: 288px; height: 184px; margin-top: 10px;
}
.main_bank_slide_box p.txt {
	text-align: left; color: rgb(102, 102, 102); padding-top: 3px; font-size: 12px;
}
.main_bank_slide {
	width: 288px; height: 104px; overflow: hidden; position: relative;
}
.main_bank_slide .slidesjs-container {
	height: 104px !important;
}
.main_notice {
	width: 422px; margin-right: 6px; float: left;
}
.main_notice h3 {
	padding: 0px 10px; color: rgb(0, 0, 0); font-size: 16px; font-weight: bold; margin-top: -5px; position: relative;
}
.main_notice h3 .more {
	background: url("../../images/exam/main/ic_more.gif") no-repeat 0px 0px; top: 6px; width: 18px; height: 18px; right: 12px; text-indent: -1000em; position: absolute;
}
.main_notice ul {
	margin-top: 4px;
}
.main_notice li {
	background: url("../../images/exam/bg/bg_dot_line.gif") repeat-x left bottom; padding: 17px 0px 14px 78px; width: 344px; position: relative;
}
.main_notice li a {
	color: rgb(51, 51, 51); font-size: 13px; vertical-align: middle; display: inline-block; max-width: 310px;
}
.main_notice li .date {
	left: 0px; top: 16px; width: 66px; text-align: center; color: rgb(153, 153, 153); line-height: 21px; font-size: 13px; display: block; position: absolute;
}
.main_notice li .date em {
	font-size: 28px; display: block;
}
.main_notice li .ctg {
	margin: 0px 5px 0px 0px; padding: 3px 0px 0px; width: 111px; height: 15px; text-align: center; font-family: µ¸¿ò; font-size: 11px; display: block;
}
.main_notice li .c01 {
	border: 1px solid rgb(33, 61, 153); border-image: none; color: rgb(33, 61, 153);
}
.main_notice li .c02 {
	border: 1px solid rgb(12, 129, 139); border-image: none; color: rgb(12, 129, 139); letter-spacing: -1px;
}
.main_notice li .c03 {
	border: 1px solid rgb(221, 75, 71); border-image: none; color: rgb(221, 75, 71);
}
.main_notice li .c04 {
	border: 1px solid rgb(117, 113, 1); border-image: none; color: rgb(117, 113, 1);
}
.main_down {
	width: 422px; height: 230px; margin-right: 10px; float: left;
}
.main_down ul {
	background: url("../../images/exam/main/img_main_down.gif") no-repeat 0px 0px; height: 160px; text-align: center;
}
.main_down li {
	width: 208px; float: left;
}
.main_down li h3 {
	padding: 27px 0px 18px; color: rgb(17, 17, 17); letter-spacing: -1px; font-size: 18px;
}
.main_down li a {
	margin: 0px auto 3px; width: 116px; height: 35px; text-align: left; color: rgb(85, 64, 51); line-height: 34px; padding-left: 21px; font-size: 13px; font-weight: bold; display: block;
}
.main_down li h3 + a {
	color: rgb(32, 57, 141);
}
.main_down .bnr {
	margin-top: 10px;
}
.main_cscenter {
	width: 340px; text-align: center; float: left;
}
.main_cscenter h3 {
	padding: 0px 23px; text-align: left; color: rgb(0, 0, 0); font-size: 16px; font-weight: bold; margin-top: -5px;
}
.main_cscenter .txt_tel {
	padding: 19px 0px 3px; color: rgb(34, 34, 34); font-size: 25px; font-weight: bold;
}
.main_cscenter .txt_time {
	text-align: left; color: rgb(102, 102, 102); padding-left: 49px; font-size: 13px;
}
.main_cscenter ul {
	margin-top: 17px;
}
.main_cscenter li {
	margin: 0px 5px; display: inline-block; -ms-zoom: 1;
}
.main_cscenter li a {
	background: url("../../images/exam/main/bg_cscenter.png") no-repeat -97px 0px; width: 77px; text-align: center; color: rgb(34, 34, 34); padding-top: 82px; font-size: 13px; display: block;
}
.main_cscenter li.n1 a {
	background-position: 0px 0px;
}
.main_cscenter li.n2 a {
	background-position: -93px 0px;
}
.main_cscenter li.n3 a {
	background-position: -183px 0px;
}
.main_cscenter li a:hover {
	text-decoration: none; background-position-y: -124px;
}
