.fc {
	DIRECTION: ltr; TEXT-ALIGN: left
}
.fc TABLE {
	BORDER-COLLAPSE: collapse; BORDER-SPACING: 0
}
HTML .fc {
	FONT-SIZE: 1em
}
.fc TABLE {
	FONT-SIZE: 1em
}
.fc TD {
	VERTICAL-ALIGN: top; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.fc TH {
	VERTICAL-ALIGN: top; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px
}
.fc-header TD {
	WHITE-SPACE: nowrap
}
.fc-header-left {
	WIDTH: 25%; TEXT-ALIGN: left
}
.fc-header-center {
	TEXT-ALIGN: center
}
.fc-header-right {
	WIDTH: 25%; TEXT-ALIGN: right
}
.fc-header-title {
	VERTICAL-ALIGN: top; DISPLAY: inline-block
}
.fc-header-title H2 {
	WHITE-SPACE: nowrap; MARGIN-TOP: 0px
}
.fc .fc-header-space {
	PADDING-LEFT: 10px
}
.fc-header .fc-button {
	MARGIN-BOTTOM: 1em; VERTICAL-ALIGN: top
}
.fc-header .fc-button {
	MARGIN-RIGHT: -1px
}
.fc-header .fc-corner-right {
	MARGIN-RIGHT: 0px
}
.fc-header .ui-corner-right {
	MARGIN-RIGHT: 0px
}
.fc-header .fc-state-hover {
	Z-INDEX: 2
}
.fc-header .ui-state-hover {
	Z-INDEX: 2
}
.fc-header .fc-state-down {
	Z-INDEX: 3
}
.fc-header .fc-state-active {
	Z-INDEX: 4
}
.fc-header .ui-state-active {
	Z-INDEX: 4
}
.fc-content {
	CLEAR: both
}
.fc-view {
	OVERFLOW: hidden; WIDTH: 100%
}
.fc-widget-header {
	BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid; BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid
}
.fc-widget-content {
	BORDER-TOP: #ddd 1px solid; BORDER-RIGHT: #ddd 1px solid; BORDER-BOTTOM: #ddd 1px solid; BORDER-LEFT: #ddd 1px solid
}
.fc-state-highlight {
	BACKGROUND: #fcf8e3
}
.fc-cell-overlay {
	BACKGROUND: #bce8f1; FILTER: alpha(opacity=30); opacity: .3
}
.fc-button {
	OVERFLOW: hidden; CURSOR: pointer; HEIGHT: 1.9em; WHITE-SPACE: nowrap; POSITION: relative; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0.6em; DISPLAY: inline-block; LINE-HEIGHT: 1.9em; PADDING-RIGHT: 0.6em
}
.fc-state-default {
	BORDER-TOP: 1px solid; BORDER-RIGHT: 1px solid; BORDER-BOTTOM: 1px solid; BORDER-LEFT: 1px solid
}
.fc-corner-left {
	border-top-left-radius: 4px; border-bottom-left-radius: 4px
}
.fc-corner-right {
	border-top-right-radius: 4px; border-bottom-right-radius: 4px
}
.fc-text-arrow {
	FONT-SIZE: 2em; FONT-FAMILY: "Courier New", Courier, monospace; VERTICAL-ALIGN: baseline; MARGIN: 0px 0.1em
}
.fc-button-prev .fc-text-arrow {
	FONT-WEIGHT: bold
}
.fc-button-next .fc-text-arrow {
	FONT-WEIGHT: bold
}
.fc-button .fc-icon-wrap {
	POSITION: relative; FLOAT: left; TOP: 50%
}
.fc-button .ui-icon {
	MARGIN-TOP: 0px; POSITION: relative; FLOAT: left; TOP: -50%
}
.fc-state-default {
	BORDER-TOP-COLOR: #e6e6e6; BACKGROUND-REPEAT: repeat-x; BORDER-LEFT-COLOR: #e6e6e6; COLOR: #333; BORDER-BOTTOM-COLOR: #bfbfbf; BORDER-RIGHT-COLOR: #e6e6e6; BACKGROUND-COLOR: #f5f5f5; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05)
}
.fc-state-hover {
	COLOR: #333333; BACKGROUND-COLOR: #e6e6e6
}
.fc-state-down {
	COLOR: #333333; BACKGROUND-COLOR: #e6e6e6
}
.fc-state-active {
	COLOR: #333333; BACKGROUND-COLOR: #e6e6e6
}
.fc-state-disabled {
	COLOR: #333333; BACKGROUND-COLOR: #e6e6e6
}
.fc-state-hover {
	TEXT-DECORATION: none; BACKGROUND-POSITION: 0px -15px; COLOR: #333333; -webkit-transition: background-position 0.1s linear; -moz-transition: background-position 0.1s linear; -o-transition: background-position 0.1s linear; transition: background-position 0.1s linear
}
.fc-state-down {
	BACKGROUND-IMAGE: none; OUTLINE-WIDTH: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; BACKGROUND-COLOR: #cccccc; box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05)
}
.fc-state-active {
	BACKGROUND-IMAGE: none; OUTLINE-WIDTH: 0px; OUTLINE-STYLE: none; OUTLINE-COLOR: invert; BACKGROUND-COLOR: #cccccc; box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05)
}
.fc-state-disabled {
	CURSOR: default; BACKGROUND-IMAGE: none; FILTER: alpha(opacity=65); opacity: 0.65; box-shadow: none
}
.fc-event {
	FONT-SIZE: 0.85em; CURSOR: default; BORDER-TOP: #3a87ad 1px solid; BORDER-RIGHT: #3a87ad 1px solid; BORDER-BOTTOM: #3a87ad 1px solid; COLOR: #fff; BORDER-LEFT: #3a87ad 1px solid; BACKGROUND-COLOR: #3a87ad; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)
}
A.fc-event {
	TEXT-DECORATION: none
}
A.fc-event {
	CURSOR: pointer
}
.fc-event-draggable {
	CURSOR: pointer
}
.fc-rtl .fc-event {
	TEXT-ALIGN: right
}
.fc-event-inner {
	OVERFLOW: hidden; WIDTH: 100%
}
.fc-event-time {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px
}
.fc-event-title {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 1px; PADDING-RIGHT: 1px
}
.fc .ui-resizable-handle {
	FONT-SIZE: 300%; OVERFLOW: hidden; POSITION: absolute; Z-INDEX: 99999; DISPLAY: block; LINE-HEIGHT: 50%
}
.fc-event-hori {
	BORDER-LEFT-WIDTH: 0px; MARGIN-BOTTOM: 1px; BORDER-RIGHT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 1px; BORDER-TOP-WIDTH: 1px
}
.fc-ltr .fc-event-start {
	BORDER-LEFT-WIDTH: 1px; border-top-left-radius: 3px; border-bottom-left-radius: 3px
}
.fc-rtl .fc-event-end {
	BORDER-LEFT-WIDTH: 1px; border-top-left-radius: 3px; border-bottom-left-radius: 3px
}
.fc-ltr .fc-event-end {
	BORDER-RIGHT-WIDTH: 1px; border-top-right-radius: 3px; border-bottom-right-radius: 3px
}
.fc-rtl .fc-event-start {
	BORDER-RIGHT-WIDTH: 1px; border-top-right-radius: 3px; border-bottom-right-radius: 3px
}
.fc-event-hori .ui-resizable-e {
	CURSOR: e-resize; HEIGHT: 100% !important; WIDTH: 7px !important; RIGHT: -3px !important; TOP: 0px !important
}
.fc-event-hori .ui-resizable-w {
	CURSOR: w-resize; HEIGHT: 100% !important; WIDTH: 7px !important; LEFT: -3px !important; TOP: 0px !important
}
.fc-event-hori .ui-resizable-handle {
	PADDING-BOTTOM: 14px
}
TABLE.fc-border-separate {
	BORDER-COLLAPSE: separate
}
.fc-border-separate TH {
	BORDER-LEFT-WIDTH: 1px; BORDER-RIGHT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-TOP-WIDTH: 1px
}
.fc-border-separate TD {
	BORDER-LEFT-WIDTH: 1px; BORDER-RIGHT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-TOP-WIDTH: 1px
}
.fc-border-separate TH.fc-last {
	BORDER-RIGHT-WIDTH: 1px
}
.fc-border-separate TD.fc-last {
	BORDER-RIGHT-WIDTH: 1px
}
.fc-border-separate TR.fc-last TH {
	BORDER-BOTTOM-WIDTH: 1px
}
.fc-border-separate TR.fc-last TD {
	BORDER-BOTTOM-WIDTH: 1px
}
.fc-border-separate TBODY TR.fc-first TD {
	BORDER-TOP-WIDTH: 0px
}
.fc-border-separate TBODY TR.fc-first TH {
	BORDER-TOP-WIDTH: 0px
}
.fc-grid TH {
	TEXT-ALIGN: center
}
.fc .fc-week-number {
	WIDTH: 22px; TEXT-ALIGN: center
}
.fc .fc-week-number DIV {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px
}
.fc-grid .fc-day-number {
	FLOAT: right; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px
}
.fc-grid .fc-other-month .fc-day-number {
	FILTER: alpha(opacity=30); opacity: 0.3
}
.fc-grid .fc-day-content {
	PADDING-BOTTOM: 1px; PADDING-TOP: 2px; PADDING-LEFT: 2px; CLEAR: both; PADDING-RIGHT: 2px
}
.fc-grid .fc-event-time {
	FONT-WEIGHT: bold
}
.fc-rtl .fc-grid .fc-day-number {
	FLOAT: left
}
.fc-rtl .fc-grid .fc-event-time {
	FLOAT: right
}
.fc-agenda TABLE {
	BORDER-COLLAPSE: separate
}
.fc-agenda-days TH {
	TEXT-ALIGN: center
}
.fc-agenda .fc-agenda-axis {
	WIDTH: 50px; VERTICAL-ALIGN: middle; WHITE-SPACE: nowrap; FONT-WEIGHT: normal; PADDING-BOTTOM: 0px; TEXT-ALIGN: right; PADDING-TOP: 0px; PADDING-LEFT: 4px; PADDING-RIGHT: 4px
}
.fc-agenda .fc-week-number {
	FONT-WEIGHT: bold
}
.fc-agenda .fc-day-content {
	PADDING-BOTTOM: 1px; PADDING-TOP: 2px; PADDING-LEFT: 2px; PADDING-RIGHT: 2px
}
.fc-agenda-days .fc-agenda-axis {
	BORDER-RIGHT-WIDTH: 1px
}
.fc-agenda-days .fc-col0 {
	BORDER-LEFT-WIDTH: 0px
}
.fc-agenda-allday TH {
	BORDER-LEFT-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 0px; BORDER-TOP-WIDTH: 0px
}
.fc-agenda-allday .fc-day-content {
	HEIGHT: 34px; MIN-HEIGHT: 34px
}
.fc-agenda-divider-inner {
	OVERFLOW: hidden; HEIGHT: 2px
}
.fc-widget-header .fc-agenda-divider-inner {
	BACKGROUND: #eee
}
.fc-agenda-slots TH {
	BORDER-LEFT-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 0px; BORDER-TOP-WIDTH: 1px
}
.fc-agenda-slots TD {
	BORDER-LEFT-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; BORDER-BOTTOM-WIDTH: 0px; BORDER-TOP-WIDTH: 1px
}
.fc-agenda-slots TD DIV {
	HEIGHT: 20px
}
.fc-agenda-slots TR.fc-slot0 TH {
	BORDER-TOP-WIDTH: 0px
}
.fc-agenda-slots TR.fc-slot0 TD {
	BORDER-TOP-WIDTH: 0px
}
.fc-agenda-slots TR.fc-minor TH {
	BORDER-TOP-STYLE: dotted
}
.fc-agenda-slots TR.fc-minor TD {
	BORDER-TOP-STYLE: dotted
}
.fc-agenda-slots TR.fc-minor TH.ui-widget-header {
	BORDER-TOP-STYLE: solid
}
.fc-event-vert {
	BORDER-LEFT-WIDTH: 1px; BORDER-RIGHT-WIDTH: 1px; BORDER-BOTTOM-WIDTH: 0px; BORDER-TOP-WIDTH: 0px
}
.fc-event-start {
	BORDER-TOP-WIDTH: 1px; border-top-left-radius: 3px; border-top-right-radius: 3px
}
.fc-event-end {
	BORDER-BOTTOM-WIDTH: 1px; border-bottom-left-radius: 3px; border-bottom-right-radius: 3px
}
.fc-event-vert .fc-event-time {
	FONT-SIZE: 10px; WHITE-SPACE: nowrap
}
.fc-event-vert .fc-event-inner {
	POSITION: relative; Z-INDEX: 2
}
.fc-event-vert .fc-event-bg {
	HEIGHT: 100%; WIDTH: 100%; BACKGROUND: #fff; POSITION: absolute; LEFT: 0px; FILTER: alpha(opacity=30); Z-INDEX: 1; TOP: 0px; opacity: .3
}
.fc .ui-draggable-dragging .fc-event-bg {
	DISPLAY: none
}
.fc-select-helper .fc-event-bg {
	DISPLAY: none
}
.fc-event-vert .ui-resizable-s {
	FONT-SIZE: 11px !important; OVERFLOW: hidden !important; CURSOR: s-resize; HEIGHT: 8px !important; FONT-FAMILY: monospace; WIDTH: 100% !important; TEXT-ALIGN: center; LINE-HEIGHT: 8px !important; BOTTOM: 0px !important
}
.fc-agenda .ui-resizable-resizing {
	OVERFLOW: hidden
}
